.diagonal{
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 50% 100%);
    background-image: url("../../images/banner-landing.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -4rem;
}

.diagonal2{
  background-image: url("../../images/tournament.jpg");
  background-repeat: no-repeat;
  background-position-x: -8rem;
  background-position-y: -25rem;
  clip-path: polygon(0 0, 38% 0, 56% 100%, 0% 100%);
}

.banner-text{
    width: 60%;
    user-select: none;
}

@media screen and (width < 768px) {
    .banner-text {
      width: auto !important;
    }
  }
  