.card-wrapper:not(.centered) {
    position: relative;
    z-index: 1; /* Un valor más bajo que el de la imagen centrada */
    /* Otros estilos */
}
.card-wrapper {
    position: relative; /* Cambia la posición a relative */
    z-index: 1; /* Ajusta el z-index según sea necesario */
    /* Otros estilos */
}

.showQuantity::before {
    position: relative;
    top: 3.5rem;
    left: 1.5rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgb(239, 239, 239);
    font-weight: bolder;
    border-radius: 0.5em;
    content: "x" attr(data-quantity);
    border: 1px solid;
    z-index: 18;
}
