.logoWrapper{
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.logoWrapper.small{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.logoWrapper img{
    height: 75%;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0, 0.5));
}

.logoWrapper.small img{
    height: 75%;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0, 0.5));
    margin-top: 5px;
}

.headerText{ color: rgba(0, 0, 0, 0.7); }